<div class="main my-1 px-5 small">
  <%= render "devise/shared/error_messages", resource: resource %>
</div>

<div class="sidenav">
  <div class="login-main-text">
    <h2>PLANNER<br>APP</h2>
  </div>
</div>

<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="register-form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <h2 class='display-4'>REGISTER</h2>

        <div class="field form-group">
          <%= f.label :first_name, class: 'text-muted' %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label :last_name, class: 'text-muted' %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label :email, class: 'text-muted' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label "#{:password} (#{@minimum_password_length} characters minimum)", class: 'text-muted' %>  
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation, class: 'text-muted' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class='d-flex justify-content-between align-items-center'>
          <div class="actions">
            <%= f.submit "Sign Up", class: 'btn btn-black' %>
          </div>
          <%= link_to "Back to Login", new_session_path(resource_name), class: 'text-info mb-0' %>
        </div>
        
      <% end %>
    </div>
  </div>
</div>