<div class="d-flex justify-content-between mt-4">
  <div class="col-xs-6 col-lg-6">
    <h2 class="text-center text-danger">PENDING</h2>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">TASK</th>
          <th scope="col">DATE</th>
          <th></th>
        </tr>
      </thead>
      <% @category.tasks.incomplete.each do |task| %>
        <tbody>
          <tr>
            <div class="col-sm-10">
              <td scope="row">
                <%= link_to "View", user_category_task_path(@user.id, @category.id, task.id), class: 'btn btn-primary ml-3 btn-sm' %>
              </td>
              <td class="font-weight-bold align-middle text-uppercase">
                <%= task.name %>
              </td>
              <td class="text-muted font-weight-light align-middle">
                <%= task.date.strftime("%d-%^b-%Y, %A") %>
              </td>
            </div>
            <div class="col-sm-2">
              <td class=" d-flex justify-content-center">
                <%= link_to "DONE", complete_task_path(@user, @category, task), method: :put, class: 'btn btn-success pull-right btn-sm'%>
              </td>
            </div>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>

  <div class="col-xs-6 col-lg-6">
    <h2 class="text-center text-success">COMPLETED</h2>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">TASK</th>
          <th scope="col">DATE</th>
          <th></th>
        </tr>
      </thead>
      <% @category.tasks.completed.each do |task| %>
        <tbody>
          <tr>
            <div class="col-sm-10">
              <td scope="row">
                <%= link_to "View", user_category_task_path(@user, @category, task), class: 'btn btn-primary ml-3 btn-sm' %>
              </td>
              <td class="font-weight-bold align-middle text-uppercase">
                <%= task.name %>
              </td>
              <td class="text-muted font-weight-light align-middle">
                <%= task.date.strftime("%d-%^b-%Y, %A") %>
              </td>
            </div>
            <div class="col-sm-2">
              <td class=" d-flex justify-content-center">
                <%= link_to "Undo", incomplete_task_path(@user, @category, task), method: :delete, class: 'btn btn-danger pull-right btn-sm'%>
              </td>
            </div>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
