<%= form_with scope: :task, model: [@user, @category, @task], local: true do |f| %>
      <p>
        <% if @task.errors.any? %>
          <ul>
            <div class="alert alert-dismissible alert-danger">
              <% @task.errors.full_messages.each do |message| %>
                <li class= "text-danger list-unstyled">
                  <strong>ERROR: <%= message %></strong>
                </li>
              <% end %>
            </div> 
          </ul>
        <% end %>
      </p>
  <% end %>

<div class="container masthead">
  <%= form_with scope: :task, model: [@user, @category, @task], local: true do |f| %>
    <p>
      <%= link_to '✖', user_category_path(@user, @category), class: 'btn-sm close align-middle' %>
    </p>
    <br/>
    <legend class="text-center font-weight-bold color-green">
      NEW TASK
    </legend>
    <br/>
    <div class="form-floating mb-3">
      <label for="floatingInput" class="text-muted"><%= f.label :name %></label><br/>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="comment" class="text-muted"><%= f.label :description %></label>
      <%= f.text_area :description, class: 'form-control', rows: '5', cols: '5' %>
    </div>
    <div class="form-group">
      <label for="comment" class="text-muted"><%= f.label :date %></label><br/>
      <%= f.date_select :date, class: 'date' %>
    </div>
    <p class="d-flex justify-content-center">
      <%= f.submit "Create", class: 'btn btn-success font-weight-bold btn-block' %>
    </p>
  <% end %>
</div>
