<%= render template: 'layouts/tasks_header.html.erb' %>

<div class="mt-0 mb-0 text-center title-size">
  <h1 class="mb-1"><small class="font-weight-bold color-navy"><%= Date.today.strftime("%B %e, %Y") %></small></h1>
  <h4 class="mb-4 text-info">~ <%= Date.today.strftime("%^A") %> ~</h4>
</div>

<div class="d-flex justify-content-center mb-3">
  <%= link_to "Back to Tasks", user_category_path(@user, @category), class: 'btn btn-default btn-sm' %>
</div>

<% if flash.any? %>
  <% flash.each do |key, value| %>
    <div class="alert alert-dismissible alert-<%= key.to_s %>">
      <a class="close" data-dismiss="alert" aria-label="close" href='#'>&times;</a> 
      <strong><%= value %></strong>
    </div>
  <% end %>
<% end %>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Task</th>
      <th scope="col">Description</th>
      <th scope="col">DUE TODAY</th>
      <th></th>
    </tr>
  </thead>
  <% @tasks.each do |task| %>
      <% if task.date === Date.today %>
        <tbody>
          <tr>
            <div class="col-sm-10">
              <td scope="row">
                <%= link_to "View", user_category_task_path(@user, @category.id, task.id), class: 'btn btn-primary ml-3' %>
              </td>
              <td class="font-weight-bold align-middle text-uppercase">
                <%= task.name %>
              </td>
              <td class="text-muted font-weight-light align-middle">
                <%= truncate(task.description) %>
              </td>
              <td class="text-muted font-weight-light align-middle">
                <%= task.date.strftime("%d-%^b-%Y, %A") %>
              </td>
            </div>
            <div class="col-sm-2">
              <td class=" d-flex justify-content-center">
                <%= link_to edit_user_category_task_path(@user, @category, task), class: 'btn btn-warning pull-right' do %>
                  <span>✏</span>
                <% end %> 
                <%= link_to user_category_task_path(@user, @category, task), class: 'btn btn-danger pull-right', method: :delete, data: { confirm: 'Delete this TASK?' } do %>
                  <span>🗑</span>
                <% end %>
              </td>
            </div>
          </tr>
        </tbody>
      <% end %>
  <% end %>
</table>

