<div class="main my-5 px-5">
  <%= render "devise/shared/error_messages", resource: resource %>
</div>

<div class="sidenav">
  <div class="login-main-text">
    <h2>PLANNER<br>APP</h2>
  </div>
</div>

<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="password-form">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <h2 class='display-4'>FORGOT YOUR PASSWORD?</h2><br/>

        <div class="field form-group mb-2">
          <%= f.label :email, class: 'text-muted' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "SEND PASSWORD RESET INSTRUCTIONS", class: 'btn btn-black' %>
        </div><br/>

        <%= link_to "Back to Login", new_session_path(resource_name), class: 'text-info' %><br/>
        <p class="small mt-2">Don't have an account? <%= link_to "Register here.", new_registration_path(resource_name) %>
      <% end %>
    </div>
  </div>
</div>