<%= render template: 'layouts/category_header.html.erb' %>

<% if flash.any? %>
  <% flash.each do |key, value| %>
    <div class="alert alert-dismissible alert-<%= key.to_s %>">
      <a class="close" data-dismiss="alert" aria-label="close" href='#'>&times;</a> 
      <strong><%= value %></strong>
    </div>
  <% end %>
<% end %>

<div class="d-flex justify-content-center">
  <%= link_to "Add Category", new_category_path, class: 'btn btn-success btn-lg btn-add' %>
</div>

<div class="container">
  <div id="products" class="row grid-group">
    <% @categories.each do |category| %>
      <div class="item col-xs-4 col-lg-3 mx-4 my-4">
        <%= link_to category_path(category), class: 'btn-sm close align-middle float-right', method: :delete, data: { confirm: 'Delete this CATEGORY?' } do %>
          <span>❌</span>
        <% end %>
        <%= link_to edit_category_path(category), class: 'btn-sm close align-middle float-left' do %>
          <span>✏</span>
        <% end %>
        <br/><br/>
        <div class="thumbnail">
          <div class="caption">
            <h4 class="group inner grid-group-item-heading text-center">
              <%= category.name.upcase %>
            </h4>
            <p class="group inner grid-group-item-text text-muted text-center">
              <small><i>Updated <%= time_ago_in_words(category.updated_at) %> ago</i></small><br/>
              <small><b>Tasks : <%= category.tasks.where(completed: false).count %></b></small><br/>
              <small class="text-danger"><b>DUE TODAY : <%= category.tasks.where(date: Date.today, completed: false).count %></b></small>
            </p>
            <div class="btn-block btn-sm">
              <%= link_to category_path(category), class: 'btn btn-info pull-right btn-sm btn-block font-weight-bold' do %>
                <span>View</span>
              <% end %>                    
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
