<%= render template: 'layouts/category_header.html.erb' %>
<br/>
<%= form_with scope: :category, model: [@user, @category], local: true do |f| %>
    <p>
      <% if @category.errors.any? %>
        <ul>
          <div class="alert alert-dismissible alert-danger">
            <% @category.errors.full_messages.each do |message| %>
              <li class= "text-danger list-unstyled">
                  <strong>ERROR: <%= message %></strong>
              </li>
            <% end %>
          </div> 
        </ul>
      <% end %>
    </p>
<% end %>

<div class="container masthead">
  <%= form_with scope: :category, model: [@user, @category], local: true do |f| %>
    <p>
      <%= link_to '✖', user_categories_path(@user), class: 'btn-sm close align-middle' %>
    </p>
    <br/>
    <legend class="text-center font-weight-bold color-green">
      NEW CATEGORY
    </legend>
    <br/>
    <div class="form-floating mb-3">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <p class="d-flex justify-content-center">
      <%= f.submit "Create", class: 'btn btn-success font-weight-bold btn-block' %>
    </p>
  <% end %>
</div>