<!DOCTYPE html>
<html>

  <head>
    <title>Planner App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render template: 'layouts/navbar.html.erb' %>
    <br/><br/>
    <small class="notice"><%= notice %></small>
    <small class="alert"><%= alert %></small>
    <div class="container">
      <%= yield %>
    </div>
  </body>

</html>
